body {
	background-color: #f9fafc;
}

span {
	margin: 10px;
}


ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 10px;
}

a {
    	text-decoration: none;
	color: #69696a;
}

 h1 {
    	color: #000;
}

.description {
    	border-left: solid 3px #69696a;
	padding-left: 10px;
}

.description {
	color: #69696a;
}

input#hire_us, input#scroll_down {
    	background-color: #000;
	color: #fff;
	text-align: center;
	width: 100%;
    	padding: 10px;
    	border: none;
    	border-radius: 20px;
}


@media only screen and (min-width: 768px) {
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

ul {
	display: flex;
}

li {
	align-items: center;
}

input#hire_us {
	margin-top: -10px;
}

.description {
	width: 50%;
}

input#scroll_down {
	width: 10%;
	position: fixed;
	right: 50%;
	bottom: 0;
	margin-bottom: 5px;
}

#pink_circle {
    	background: rgba(247, 136, 167, 0.6);
    	border-radius: 50%;
    	width: 225px;
   	height: 225px;
	position: absolute;
	top: 15%;
	right: 10%;
}

#orange_circle {
    	background: rgba(247, 193, 162, 0.7);
    	border-radius: 50%;
    	width: 175px;
    	height: 175px;
	position: absolute;
	top: 33%;
	right: 5%;
	z-index: 1;
}

#purple_circle {
    	background: rgba(207, 130, 213, 0.6);
    	border-radius: 50%;
    	width: 125px;
    	height: 125px;
	position: absolute;
	top: 25%;
	right: 3%;
}

}

*{
	font-family: 'Open Sans', sans-serif;
}
