html {
	font-family: "Open Sans", "Helvetica", sans-serif; 
	//you shouldnt need the Helvetica listed here, I think its still showing Open sans but not sure how they might conlict if you have 2 different fonts listed
	font-size: 16px;
}

body {
	background-color: #f9fafc;
}

p.company, h1 {
    color: #000;
}

h1 {
	font-weight: 500;
}

a {
    text-decoration: none;
	color: #69696a;
}

.description {
    border-left: solid 2px #69696a;
	padding-left: 10px;
}

p.description {
	color: #69696a;
}

input#hire_us, input#scroll_down {
    background-color: #000;
	color: #fff;
	text-align: center;
	width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
